!src/**/*.json
**/node_modules
*.jpg
*.json
!package.json
!package-lock.json
.dockerignore
.git
.gitignore
.receipts_mask.png
.receipts_state.json
.receipts_tmp.jpg
Dockerfile
img
notes
phone.log
src/android/build
src/android/receipt-drop.apk
src/android/receipt-drop.apk.idsig
src/android/toolchain
src/http/receipts
